@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url(./cabecalho.css);
@import url(./rodape.css);
@import url(./conteudo.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.8%;
}

.tit-sec{
    text-align: center;
    margin: 2vh 0;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/*BREAKPOINT 590px*/
@media(max-width:590px){
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;
    }

    .cabecalho a{
        padding: 9.25vh 0;
    }
}
/*BREAKPOINT 590px*/

table{
    margin: 5% auto;
    border-collapse: collapse;
}

th,td{
    border: solid 1px #dddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #cccc;
}
tr:hover{
    background-color:aqua;
}
td[colspan]{
    text-align: center;
}